<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duch.mapper.AnimalMapper">


    <select id="getAllAnimal" resultType="com.duch.pojo.Animal">
        select * from animal;
    </select>
    <select id="getYesOrNoAdoptAnimal" resultType="com.duch.pojo.Animal">
        select *
        from animal
        where adopt = #{adopt}
    </select>
</mapper>
